<tr scope="row">
  <td class="text"><%= task.name %></td>
  <td><%= link_to 'Edit', edit_task_path(task),class:"edit" %></td>
  <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' },remote: true ,class:"delete" %></td>
</tr>