// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.boxs{
  width:auto;
  height: auto;
  border: 1px solid black;
  padding: 30px;
  margin: 1%;
  border-radius: 3%;
}

.edit-box{
  margin: 2%;
}


